# Dependencies
node_modules/
.pnp
.pnp.js

# TypeScript
*.tsbuildinfo
dist/
build/

# Environment
.env
.env*.local

# Logs
logs/
*.log

# Sentry
.sentryclirc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Sentry Config File
.env.sentry-build-plugin
